@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body{
    background-color: #f4f4f1;
}
.container{
    width: 70%;
    height: auto;
    margin: auto;
    background-color: white;
    border: 1px solid;
    padding: 25px;
    line-height: 1.6;
    letter-spacing: 1px;
}
.container h2{
    color: navy;
}
.heading-three{
    p::first-letter {
        color: navy;
        font-size: xxX-large;
      }
}
.heading-four .certificate__img{
    width: 350px;
    height: 300px;
    padding-top: 20px;
    padding-left: 10px;
}
.certificate{
    display: flex;
}
.heading-four .para1{
    padding-left: 10px;
}
.heading-five .list-one{
    box-sizing: border-box;
    width: 450px;
    height: 280px;
    padding: 5px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-between;
    border: 1px solid red;
}
.syllabus-para1{
    display: flex;
    justify-content: space-between;
}
.syllabus-para2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.syllabus-para3{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.syllabus-para4{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.syllabus-para5{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.heading-five-list{
    padding: 5px;
}
.heading-five ul li{
    list-style-type: none;
}
.heading-five ul{
    padding: 5px;   
}
.fa-leaf{
    padding: 5px;
}
.heading-five .list-two{
    border: 1px solid blue;
    box-sizing: border-box;
    width: 450px;
    height: 280px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.heading-five .list-three{
    border: 1px solid blue;
    box-sizing: border-box;
    width: 450px;
    height: 340px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.heading-five .list-four{
    border: 1px solid red;
    box-sizing: border-box;
    width: 450px;
    height: 340px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.heading-five .list-five{
    border: 1px solid red;
    box-sizing: border-box;
    width: 450px;
    height: 300px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.heading-five .list-six{
    border: 1px solid blue;
    box-sizing: border-box;
    width: 450px;
    height: 300px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.heading-five .list-seven{
    border: 1px solid blue;
    box-sizing: border-box;
    width: 450px;
    height: 260px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.heading-five .list-eight{
    border: 1px solid red;
    box-sizing: border-box;
    width: 450px;
    height: 260px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading-five .list-nine{
    border: 1px solid red;
    box-sizing: border-box;
    width: 450px;
    height: 260px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading-five .list-ten{
    border: 1px solid blue;
    box-sizing: border-box;
    width: 450px;
    height: 260px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.trainers-details{
    display: flex;
    justify-content: space-evenly;
}
.heading-six .trainer-profile1{
    box-sizing: border-box;
    width: 450px;
    height: 200px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #b1c6fc;
}
.heading-six .trainer1__img{
    width: 150px;
    height: 150px;
    padding-top: 20px;
    padding-left: 10px;
    border-radius: 50%;
}
.heading-six .trainer-name{
    padding-top: 30px;
    padding-left: 15px;
}
.heading-six .trainer-profile2{
    box-sizing: border-box;
    width: 450px;
    height: 200px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #a9effc;
}
.heading-six .trainer2__img{
    width: 150px;
    height: 150px;
    padding-top: 20px;
    padding-left: 10px;
    border-radius: 50%;
}

